@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

@font-face {
  font-family: "It-Monsters";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/CookieRun\ Regular.otf");
}
@font-face {
  font-family: "It-Monsters";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/CookieRun\ Regular.otf");
}
*,
*::before,
*::after {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.25;
  letter-spacing: -0.06em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  outline: none;
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/* 슬릭 커스텀 */
ul.slick-dots {
  width: auto;
  right: 20px;
}

ul.slick-dots > li button {
  opacity: 0;
}

ul.slick-dots > li {
  overflow: hidden;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  border: 1px solid #4b23b8;
  transition: all 1s;
}

ul.slick-dots > li.slick-active {
  background: #4b23b8;
  width: 20px;
}
